<h1>ログイン</h1>

<div class="well">
  <form novalidate="novalidate" class="simple_form new_user" id="new_user"  accept-charset="UTF-8" method="post">
    <div class="form-group email required user_email">
      <label class="email required control-label" for="user_email"><abbr title="required">*</abbr> メールアドレス</label>
      <input class="string email required form-control" type="email" name="user[email]" id="user_email">
    </div>
    <div class="form-group password required user_password">
      <label class="password required control-label" for="user_password"><abbr title="required">*</abbr> パスワード</label>
      <input class="password required form-control" type="password" name="user[password]" id="user_password">
    </div>
    <input type="submit" name="commit" value="Login" class="btn btn-primary btn-block">
  </form>
</div>

<table class="table table-bordered">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-10">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2">テスト用アカウント</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>メールアドレス</th>
      <td>test@example.com</td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td>password</td>
    </tr>
  </tbody>
</table>
